### R
.Rproj.user
.Rhistory
.RData
.Ruserdata

### Project
*.html
config.yml
data/
renv/library/
renv/python/
renv/staging/

## Ignore everything in this folder…
local_gitignore/*
## …except this file:
!local_gitignore/.gitkeep 


.Rdata
.httr-oauth
.DS_Store

